/* FONTS */

$main-font: "Myriad Pro", Arial, sans-serif;
$second-font: "Roboto", Arial, sans-serif;



/* SIZE */
$base-size: 14px;
$title-base-size: 64px;

/* COLORS */
$white: #fff;
$black: #000;
$dark-text: #222222;
$gray:  #7C7C7C;
$bol-green: #0D858C;
$main-color: #0D858C;
$brand-color-text: #098EA6;
$brand-color-hover: #3FC6DE;


$white-color:#CBCBCB;
$red-color:#FF3C3C;
$grey-color:#A1A1A1;
$grey-text-color:#656565;
$footer-color:#DCDCDC;
$black-color:#1A1A1A;