@import 'variables';
@import 'fonts';
//@import 'animation';
//@import 'animation_classes';
* {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color:black;
}

body {
 
  font-family:$main-font;
  font-size:18px;
  font-weight:normal;



}

.wrapper {
    max-width:1230px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}


.page {
    max-width:1112px;
  width:100%;
  margin:0 auto;
}

.header {
  display:flex;
  justify-content:space-between;
}

.header__logo {
  height:auto;
}

.menu {
  display:flex;
  justify-content:space-around;
  border-bottom:0.5px solid $red-color;
  align-self:center;
  max-width:590px;
  width:100%;
  padding-bottom:8px;
}

.contacts {
  text-align:center;
  align-self:center;

}

.contacts__phone {
  font-size:24px;
  font-weight:bolder;
}

.contacts__worktime {
  font-size:15px;
  margin-bottom:20px;
}

.social-networks__link {
  word-spacing: 20px;
}

.social-networks__header {
  font-size:15px;
  margin-bottom:10px;
}

.content-section {
  text-align:center;
}

.section-header {
  font-size:48px;
  font-weight:normal;
}

.item-filter {
  margin:50px 0;
    word-spacing:33px;
}

.button {
  border-radius:3px;
  width:150px;
  display:inline-block;
  cursor:pointer;
  margin-bottom:10px;
  line-height:33px;
}

.button_red {
  background-color:$red-color;
  color:white;
  font-size:18px;
  border:none;
  word-spacing:normal;
  line-height:33px;
}

.item-row {
  display:flex;
  margin-bottom:39px;
  //padding-left:44px;

}

.item-card {
  //width:24%;
  //margin-right:10px;
  border:1px solid $grey-color;
  border-radius:3px;
  padding-top:60px;
  padding-bottom:25px;

  max-width: 260px;
  width:100%;
  //margin-right:auto;
  margin-right:24px;
  margin-bottom:39px;

}

.item-card:nth-of-type(4n) {
  margin-right:0;
}

.item-card__img {
  margin-bottom:34px;
}

.item-card__title {
  font-family:$second-font;
  font-weight:normal;
  font-size:15px;
  margin-bottom:7px;
}

.item-card__age-text {
    font-family:$second-font;
  font-size:15px;
  color:$grey-text-color;
  margin-bottom:32px;
}

.item-card__img:hover {
  transform:scale(1.1);
  transition:all 0.3s;
}

.item-card__link {
  border:1px solid #1A1A1A;
  font-size:18px;
}


.footer {
  background-color:$footer-color;
  padding-top:13px;
  padding-bottom:20px;
  margin-top:41px;
}

.footer-bottom {
  display:flex;
  justify-content:space-between;
  font-family:$second-font;
  font-size:14px;
  line-height:26px;
}

.contact-info__header {
  font-weight:bold;
}

.contact-info__text {
  //margin-bottom:7px;
}

.footer__link-list {
  list-style:none;
}

.social-networks_footer {
  text-align:left;
}

.footer__logo {
  margin-bottom:15px;
}

.footer__link:hover {
  text-decoration:underline;
}

.bread-crumbs {
  margin:20px 0;
  margin-left:200px;
}

.bread-crumbs__item {
  font-size:15px;
  font-weight:bolder;
}

.bread-crumbs__item:after {
  content:' / ';
  margin:0 10px;
}

.bread-crumbs__item:last-child:after {
  content:'';
}
@import "_media";













